ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  /* background-image: url(../images/movie1.jpg); */
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(95, 91, 91);
  height: 50px;
}

.header-title {
  margin-left: 20px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-right: 20px;
}

.header-item {
  font-size: 16px;
  font-weight: bold;
}

main {
  margin-top: 120px;
}

.movie-container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.movie-catalog {
  display: flex;
  flex-direction: column;
  gap : 0;
}

.movie-image img{
  height: 450px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.movie-like {
  display: flex;
  align-items: center;
  gap: 20px;
}

.movie-name {
  font-size: 18px;
  font-weight: bold;
}

.fa-solid {
  color: red;
  cursor: pointer;
}

.hide {
  display: none;
}

.hide1 {
  display: flex;
}

@media screen and (min-width: 768px) {
  .movie-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
  }
  
}